
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
<p>
    @Html.ActionLink("Поставить оценку", "ChooseClass")
</p>
<p>
    @Html.ActionLink("Добавить ученика", "CreateUser")
</p>
<p>
    @Html.ActionLink("Добавить класс", "CreateClass")
</p>
<p>
    @Html.ActionLink("Добавить предмет", "CreateLesson")
</p>
<p>
    @Html.ActionLink("Редактировать расписание", "CreateLessonTable")
</p>
